
body{
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
}

.log_pointer {
    cursor: pointer;
}
.back{
    font-size: 35px;
    display: none;
}
a {
    text-decoration: none;
    color: #000000;
}

.logo_image{
    width: 250px;
    height: 60px;
    margin-bottom: 5px;
}
.user_image{
    width: 20px;
    height: 20px;
    margin-left: 25px;
}
.cart_image{
    width: 20px;
    height: 20px;
    margin-left: 25px;
}
.search_image{
    width: 20px;
    height: 20px;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    position: fixed !important;
    z-index:1;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.shop_by{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.shop_by_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.search_name{
    width: 450px;
    height: 45px;
    border-radius: 5px;
    border-width: 0px;
    outline: none;
    background-color: #f0f0f0;
}
h4{
    margin: 0px;
}

/*.welcome{
    
}*/
.search_by{
    display: block;
    translate: -700px 30px;
    margin: auto;
    position: fixed !important;
    display: none;
}
.login_sign{
    text-align: center;
    background-color: #FFFFFF;
    width: 400px;
    height: 150px;
    padding:30px;
    border-radius: 5px;
    position: fixed;
    right: 0;
    top: 80px;
    overflow: auto;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: none
}
.login_page{
    background-color: #FFFFFF;
    padding:30px;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    position: fixed !important;
    z-index:1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}
.signup_page{
    background-color: #FFFFFF;
    padding:30px;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    position: fixed !important;
    z-index:1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}
.log_passowrd{
    width: 100%;
    height: 40px;
    margin-bottom: 60px;
    font-family: Trebuchet MS;
}
.log_email{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    font-family: Trebuchet MS;
}
.sign_passowrd{
    width: 100%;
    height: 40px;
    margin-bottom: 60px;
    font-family: Trebuchet MS;
}
.sign_email{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    font-family: Trebuchet MS;
}
.log_in{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}
.sign_in{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}
.log_your_account{
    margin-bottom: 15px;
}
.sign_your_account{
    margin-bottom: 15px;
}
.cart_items {
    background-color: #FFFFFF;
    width: 460px;
    height: 65%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    position: fixed;
    right: 0;
    top: 80px;
    overflow: auto;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: none;
}

.welcome{
    margin-bottom: 20px;
}
.log{
    color: rgba(0, 0, 0, 0.5);
    font-size: smaller;
}
.sign{
    color: rgba(0, 0, 0, 0.5);
    font-size: smaller;
}
.logout{
    color: rgba(0, 0, 0, 0.5);
    font-size: smaller;
}
.footer{

    color: #FFFFFF;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
footer{
    background-color: #00308F;
    padding-top: 40px;
    padding-bottom: 10px;
    position: relative;
    /* negative value of footer height */
    clear: both;
}
p{
    margin: 0;
    padding: 0;
}
.rights{
    margin-top: 60px;
    color: #FFFFFF;
}

.shop_brand{
    text-align: center;
}
.first_brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.second_brands{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 200px;
}
.afani_image{
    width: 300px;
    height: 300px;
}
.afani_btn{
    translate: 0px -60px;
    width: 120px;
    height: 40px;
    font-family: Trebuchet MS;
}
.bellito_image{
    width: 300px;
    height: 300px;
}
.bellito_btn{
    translate: 0px -60px;
    width: 120px;
    height: 40px;
    font-family: Trebuchet MS;
}
.seruto_image{
    width: 300px;
    height: 300px;
}
.seruto_btn{
    translate: 0px -60px;
    width: 120px;
    height: 40px;
    font-family: Trebuchet MS;
}
.tago_image{
    width: 300px;
    height: 300px;;
}
.tago_btn{
    translate: 0px -60px;
    width: 120px;
    height: 40px;
    font-family: Trebuchet MS;
}
.zing_image{
    width: 300px;
    height: 300px;
}
.zing_btn{
    translate: 0px -60px;
    width: 120px;
    height: 40px;
    font-family: Trebuchet MS;
}
.rights{
    text-align: center;
}
.stock_images{
    width: 250px;
    height: 250px;
}
.brand_shoes{
    padding: 30px
}
.display_stock{
    display: grid;
    margin-left: auto;
    margin-right: auto;
   /* grid-template-columns: 1fr 1fr 1fr;*/
    place-items:  center;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.prices{
    float: right;
}
.add_cart{
    float: right;
}
.add_cart{
    width: 120px;
    height: 25px;
    font-family: Trebuchet MS;
}
.add_color{
    color: rgba(0, 0, 0, 0.6);
}

.logged_in_color{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  display: none;
  transform: translate(-4px, -8px);
  position: absolute;

}
.user_color{
    flex: 1;
}
.email_sign{
    color: red;
    font-size: 12px
}
.password_sign{
    color: red;
    font-size: 12px;
}
.em_log{
    color: red;
    font-size: 12px
}
.pass_log{
    color: red;
    font-size: 12px;
}
.cart_images{
    width: 150px;
    height: 150px;
}
.display_cart{
    display: grid;
}
.display_cart_1{
    display: grid;
}

.cart_prices{
    margin-left: 3px;

}
.cart_shoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
}
.color_delete{
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bin_image{
    width: 30px;
    height: 30px;
    margin-left: 25px;
    cursor:pointer;

}
.brand_name_size{
    display: grid;
    grid-template-columns: auto auto;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  .about {
    flex: 1;
  }

  .image {
    flex: 1;
    text-align: center;
  }
  .back_about{
    margin-left: 40px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
  .logo{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

  .icons {
    margin-right: 40px;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;    
  }

  .icon {
    margin-left: 20px;
  }

  .icon:first-child {
    margin-left: 0;
  }
.number{
    margin-top: 50px;
    display: flex;
}
.qty_num{
    flex: 1;
}
.bin_del{
    flex: 1;
}
.qty{
    width: 15px;
    height: 15px;
    text-align: center;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
}
  .minus, .plus{
    cursor:pointer;
    width:15px;
    height:15px;
    background:#f2f2f2;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    text-align: center;
  }
  .proceed{
    height: 60px;
    width: 100%;
  /*transform: translate(-50%, 0%);*/
  }
  .sub{
    margin-bottom: 10px;
    }
    .sub_tot{
    float: left;
    margin-left: 30px;
    margin-bottom: 10px;
    }
    .price_tot{
    float: right;
    margin-right: 30px;
    margin-bottom: 10px;
    }
.total_section{ 
    padding-top: 15px;
    background-color: #FFFFFF; 
    width: 460px;
    height: 15%;
    font-size: 15px; 
    overflow: hidden;
    position: fixed !important;
    bottom: 0;   
}
.shipping {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .ship-text{
    margin-left: 10px;
  }
  .email-text{
    margin-left: 10px;
  }  
  .full-name, .country, .street-address, .city, .two-fields, .phone-number, .add-shipping{
    width: 100%;
    font-family: Trebuchet MS;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .two-fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  } 
  .full-name-1, .country-1, .street-address-1, .city-1, .phone-number-1 {
    width: 100%;
    height: 50px;
    font-family: Trebuchet MS;
    text-align: center;
    margin-bottom: 20px;
  }
  .country-1{
    background:#f2f2f2;
  } 
  .input-field-1 {
    width: 50%;
    height: 50px;
    font-family: Trebuchet MS;
    text-align: center;
    margin-bottom: 20px;
    float: left;
    display: block;
    margin-right: 10px;
    background-color: #f0f0f0;
  }
  .input-field-2 {
    width: 50%;
    height: 50px;
    font-family: Trebuchet MS;
    text-align: center;
    margin-bottom: 20px;
    float: right;
    display: block;
    margin-left: 10px;
  }
  .add-shipping-1{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 60px;
    height: 50px;
    font-family: Trebuchet MS;
    text-align: center;
  }
  input, select {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
  }

  .menu_icon{
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
    margin-left: 20px;
  
  }

  .fas fa-bars {
    color: #000;
    font-size: 20px;
    cursor: pointer;
  }
  

  @media (max-width: 900px) {
     .icons {     
    padding:10px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    top: 70px; right: 0%;
    position: fixed !important;
    z-index:1;
    background-color: #FFFFFF;   
  }
  .user_image{
    width: 22px;
    height: 22px;
    margin-left: 25px;
}
.cart_image{
    width: 22px;
    height: 22px;
    margin-left: 25px;
}
  .menu_icon{
    display: flex;
  }
  }

  @media (max-width: 600px) {
    .logo_image{
        width: 200px;
        height: 48px;
        margin-bottom: 5px;
    }
  }

  @media (max-width: 350px) {
    .logo_image{
        width: 160px;
        height: 38.4px;
        margin-bottom: 5px;
    }
  }
