
body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
  
}

#log_pointer {
    cursor: pointer;
}
.back{
    font-size: 35px;
    display: none;
}
a {
    text-decoration: none;
    color: #000000;
}
.logo_image{
    width: 250px;
    height: 60px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.user_image{
   cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 25px;
}
.cart_image{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 25px;
}
.search_image{
    width: 20px;
    height: 20px;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    position: fixed !important;
    z-index:1;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.shop_by{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.shop_by_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.search_name{
    width: 450px;
    height: 45px;
    border-radius: 5px;
    border-width: 0px;
    outline: none;
    background-color: #f0f0f0;
}
h4{
    margin: 0px;
}


.search_by{
    display: block;
    translate: -700px 30px;
    margin: auto;
    position: fixed !important;
    display: none;
}
.login_sign{
    text-align: center;
    background-color: #FFFFFF;
    width: 400px;
    height: 150px;
    padding:30px;
    border-radius: 5px;
    position: fixed;
    right: 0;
    top: 70px;
    overflow: auto;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.6);
    display: none;
}

.bin_image:hover {
  transform: scale(1.2);
}
.logo_image:hover {
  transform: scale(1.2);
}
.user_image:hover {
  transform: scale(1.2);
}
.minus:hover {
  transform: scale(1.2);
}
.plus:hover {
  transform: scale(1.2);
}
.cart_image:hover {
  transform: scale(1.2);
}
.login_page{
    background-color: #FFFFFF;
    padding:30px;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    top: 301px; right: 50%;
    transform: translate(50%,-50%);
    position: fixed !important;
    z-index:1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
    box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.6)
}
.show_up{
    cursor: pointer;
}
.show_in{
    cursor: pointer;
}
.signup_page{
    background-color: #FFFFFF;
    padding:30px;
    height: 400px;
    width: 350px;
    border-radius: 5px;
    top: 301px; right: 50%;
    transform: translate(50%,-50%);
    position: fixed !important;
    z-index:1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
    box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.6)
}
.log_passowrd{
    width: 100%;
    height: 40px;
    margin-bottom: 60px;
    font-family: Trebuchet MS;
    text-align: center;
}
.log_email{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    font-family: Trebuchet MS;
    text-align: center;
}
.sign_passowrd{
    width: 100%;
    height: 40px;
    margin-bottom: 60px;
    font-family: Trebuchet MS;
    text-align: center;
}
.sign_email{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    font-family: Trebuchet MS;
    text-align: center;
}
.log_in{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}
.sign_in{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}
.log_your_account{
    margin-bottom: 15px;
}
.sign_your_account{
    margin-bottom: 15px;
}
.cart_items {
    background-color: #FFFFFF;
    width: 460px;
    height: 85%;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    right: 0;
    top: 70px;
    overflow: auto;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.6);
    display: none;
}
.sub_div{
    padding-bottom: 40%;
}
.welcome{
    margin-bottom: 5px;
}
.log{
    color: rgba(0, 0, 0, 0.5);
    font-size: smaller;
}
.sign{
    color: rgba(0, 0, 0, 0.5);
    font-size: smaller;
}
.logoutBtn{
    color: rgba(0, 0, 0, 0.5);
    font-size: smaller;
}
.footer{
    color: #FFFFFF;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer{
    background-color: #00308F;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    clear: both;
    position: relative;
}
p{
    margin: 0;
    padding: 0;
}
.rights{
    margin-top: 60px;
    color: #FFFFFF;
}

.shop_brand{
    text-align: center;
}
.first_brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.second_brands{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 200px;
}
.afani_image{
    width: 300px;
    height: 300px;
}
.afani_btn{
    translate: 0px -60px;
    width: 120px;
    height: 40px;
    font-family: Trebuchet MS;
}
.bellito_image{
    width: 300px;
    height: 300px;
}
.bellito_btn{
    translate: 0px -60px;
    width: 120px;
    height: 40px;
    font-family: Trebuchet MS;
}
.seruto_image{
    width: 300px;
    height: 300px;
}
.seruto_btn{
    translate: 0px -60px;
    width: 120px;
    height: 40px;
    font-family: Trebuchet MS;
}
.tago_image{
    width: 300px;
    height: 300px;;
}
.tago_btn{
    translate: 0px -60px;
    width: 120px;
    height: 40px;
    font-family: Trebuchet MS;
}
.zing_image{
    width: 300px;
    height: 300px;
}
.zing_btn{
    translate: 0px -60px;
    width: 120px;
    height: 40px;
    font-family: Trebuchet MS;
}
.rights{
    text-align: center;
}
.stock_images{
    width: 250px;
    height: 250px;
}
.brand_shoes{
    padding: 30px
}
.display_stock{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    place-items:  center;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.prices{
    float: right;
}
.add_cart{
    float: right;
}
.add_cart{
    width: 120px;
    height: 25px;
    font-family: Trebuchet MS;
}
.add_color{
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.6);
}
.add_color2{
    margin-left: 0px;
    color: rgba(0, 0, 0, 0.6);
}
.cart_and_color{
    margin-top: 15px;
}
.empty_cart{
    text-align: center;
}

.logged_in_color{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  display: none;
  transform: translate(-4px, -8px);
  position: absolute;

}
.user_color{
    flex: 1;
}
.email_sign{
    color: red;
    font-size: 12px
}
.password_sign{
    color: red;
    font-size: 12px;
}
.em_log{
    color: red;
    font-size: 12px
}
.pass_log{
    color: red;
    font-size: 12px;
}
.success_log{
  color: green;
  font-size: 12px;
}
.success_sign{
  color: green;
  font-size: 12px;
}
.cart_images{
    width: 150px;
    height: 150px;
}
.cart_prices{
    margin-left: 10px;

}
.cart_shoes{
    display: flex;
    padding-bottom: 20px;
}
.color_delete{
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bin_image{
    width: 25px;
    height: 25px;
    margin-left: 25px;
    cursor:pointer;
}
.brand_name_size{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.section-1{
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
}
.section-2{
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.section-3{
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  .about {
    flex: 1;
  }

  .image {
    flex: 1;
    text-align: center;
  }
  .back_about{
    margin-left: 40px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
  .logo{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

  .icons {
    margin-right: 40px;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;    
  }

  .icon {
    margin-left: 20px;
  }

  .icon:first-child {
    margin-left: 0;
  }
.number{
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
}
.qty_num{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.bin_del{
    flex: 1;
}
.qty{
    flex: 1;
    display: flex;
    width: 25px;
    height: 25px;
    text-align: center;
    border:1px solid #ddd;
    margin-left: 10px;
    margin-right: 10px;
}
  .minus, .plus{
    flex: 1;
    cursor:pointer;
    width:25px;
    height:25px;
    background:#f2f2f2;
    border:1px solid #ddd;
    text-align: center;
  }
  .sub{
    margin-bottom: 10px;
    }
    .sub_tot{
    float: left;
    margin-bottom: 10px;
    }
    .price_tot{
    float: right;
    margin-bottom: 10px;
    }
   
.total_section{ 
    padding-bottom: 10px;
    padding-top: 10px;
    width: 460px;
    height: 25%;
    background-color: #FFFFFF;
    font-size: 15px; 
    overflow: hidden;
    bottom: 0;
    position: fixed; 
}
.proceed{
    height: 40px;
    width: 100%;
    display: block;
  }
.shipping {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .email-text{
    margin-left: 0px;
  }
  .logged-email{
    margin-left: 0px;
    font-size: 15px;
    margin-bottom: 40px;
  }
  .logged-email2{
    margin-left: 0px;
    font-size: 15px;
    color: grey;
    margin-bottom: 20px;
  } 
  .full-name, .country, .street-address, .city, .two-fields, .phone-number, .add-shipping{
    width: 100%;
    font-family: Trebuchet MS;
    text-align: center;
    margin-left: 0px;
    margin-right: 10px;
  }
  .two-fields{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  } 
  .full-name-1, .country-1, .street-address-1, .street-address-2, .city-1, .phone-number-1 {
    width: 100%;
    height: 40px;
    font-family: Trebuchet MS;
    text-align: center;
    margin-bottom: 20px;
  }
  .country-1{
    background:#f2f2f2;
  } 
  .input-field-1 {
    width: 100%;
    height: 40px;
    font-family: Trebuchet MS;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: #f0f0f0;
  }
  .fill-shipping-data{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 50%;
    top: 379px; right: 50%;
    transform: translate(50%,-50%);
    position: fixed !important;
    z-index: 99;
    background-color: #FFFFFF;
    padding: 30px;
    display: none;
    box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.6)
  }
  .input-field-2 {
    width: 100%;
    height: 40px;
    font-family: Trebuchet MS;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .add-shipping-1{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 60px;
    height: 40px;
    font-family: Trebuchet MS;
    text-align: center;
  }
  .show-shipping{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  }
  .edit-shipping-1{
    width: fit-content;
    margin-top: 15px;
    height: 30px;
    width: 60px;
    font-family: Trebuchet MS;
    text-align: center;
    display: block;
    float: right;
  }
  .ship-text{
    margin-left: 0px;
    display: block;
    float: left;  
  }

  input, select {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
  }

  .menu_icon{
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
    margin-left: 20px;
  
  }
.shipp-information{
    margin-bottom: 40px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}
  .fas fa-bars {
    color: #000;
    font-size: 20px;
    cursor: pointer;
  }

  .name-error{
    color: red;
    font-size: 12px
  }
  .country-error{
    color: red;
    font-size: 12px
  }
  .address-error{
    color: red;
    font-size: 12px
  }
  .city-error{
    color: red;
    font-size: 12px
  }
  .province-error{
    color: red;
    font-size: 12px
  }
  .postal-error{
    color: red;
    font-size: 12px;
  }
  .phone-error{
    color: red;
    font-size: 12px
  }
  .prov_sec{
    width: 100%;
    padding-right: 10px;
  }
  .post-sec{
    width: 100%;
    padding-left: 10px;
  }
  .express-shipping{
    font-size: 12px;
    margin-top: 30px;
    color: #000000;
  }
  .bussiness-days{
    font-size: 12px;
  }
  .express-pricing{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    float: right;
  }
  .place-order-1{
    width: 100%;
    height: 50px;
    margin-bottom: 120px;
  }
  hr{
    color: rgba(0, 0, 0, 0.4);
  }

  .payment-section {
    padding: 0px;
    font-size: 15px;
  }
  
  .payment-section {
    margin-bottom: 10px;
  }
  
  .card-details label {
    display: block;
    margin-bottom: 5px;
  }
  
  .card-details input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  .pay-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  #card-number{
    height: 50px;
  }
  #card-name{
    height: 50px;
  }
  #expiry-date{
    height: 50px;
  }
  #cvv{
    height: 50px;
  }

  .visa {
    width: 50px;
    height: 30px;
  }
  
  .amex {
    width: 50px;
    height: 30px;
    margin-left: 10px;
  }
  
  .mastercard {
    width: 50px;
    height: 30px;
    margin-left: 10px;
  }
  .card-photos{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .credit-text{
    margin-right: auto;
    justify-content: center;
  }
  #credit-card{
    display: flex;
    flex-direction: row;
    
  }
  .close-log{
    background-color: #f0f0f0;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align:middle ;
    translate: 355px -30px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }
  .close-log:hover {
    transform: scale(1.2);
  }

  .close-sign{
    background-color: #f0f0f0;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align:middle ;
    translate: 355px -30px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }
  .close-sign:hover {
    transform: scale(1.2);
  }
  .close-welcome{
    background-color: #f0f0f0;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    translate: 255px -30px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }
  .close-welcome:hover{
    transform: scale(1.2);
  }
  .close-cart{
    background-color: #f0f0f0;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    translate: 0px 0px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }
  .close-cart:hover{
    transform: scale(1.2);
  }
  .close-shipping-data{
    background-color: #f0f0f0;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    translate: 652px -30px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }
  .close-shipping-data:hover{
    transform: scale(1.2);
  }
  .login_page h2 {
    margin-top: 0px;
    padding-top: 0px;
  }
  .signup_page h2 {
    margin-top: 0px;
    padding-top: 0px;
  }
  .login_sign h2 {
    margin-top: 0px;
    padding-top: 0px;
  }
  @media (min-width: 900px) {
    .icons{
        display: flex !important;
        z-index: 2;
       
    }
    .close-welcome{
      display: none;
    }
    .close-cart{
      display: none;
    }
  }
  @media (max-width: 900px) {
    .close-log{
      translate: 255px -30px;
    }
    .close-sign{
      translate: 255px -30px;
    }
    .close-cart{
      translate: 240px -15px;
    }
    .fill-shipping-data{
      width: 70%;
    }
    .logged_in_color{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: green;
        display: none;
        transform: translate(-38px, -52px);
        position: absolute !important;
      
      }
      .sub_div{
        padding-bottom: 0%;
    }
    .total_section{ 
        padding-bottom: 10px;
        padding-top: 10px;
        width: 460px;
        height: 10%;
        background-color: #FFFFFF;
        font-size: 15px; 
        overflow: hidden;
        bottom: 0;
        position: static; 
    }
.icons{     
    padding-right:0px;
    margin-right: 0px;
    margin-left: 0px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    top: 71px; right: 0%;
    position: fixed !important;
    z-index:1;
    background-color: #f0f0f0;   
  }
.user_image{
    width: 22px;
    height: 22px;
    margin-left: 0px;
    margin: 10px;
}
.cart_image{
    width: 20px;
    height: 20px;
    margin-left: 0px;
    margin: 10px;
}
.cart_images{
    width: 120px;
    height: 120px;  
}
.cart_shoes{
    display: block;
    padding-bottom: 35px;
}
.menu_icon{
    display: flex;
  }
.login_sign{
    padding:30px;
    height: 300px;
    width: 250px;
    border-radius: 5px;
    top: 252px; right: 50%;
    transform: translate(50%,-50%);
    position: fixed !important;
    z-index:1;
  }
  .add_color{
    margin-left: 0px;
    color: rgba(0, 0, 0, 0.6);
}
.cart_prices{
    margin-left: 0px;
}
.number{
    margin-top: 10px;
    margin-left: 0px;
    display: flex;
}
.section-1{
    margin-left: 0px;
}
.cart_items{
    padding:15px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 250px;
    border-radius: 5px;
    top: 237px; right: 50%;
    transform: translate(50%,-50%);
    position: fixed !important;
    z-index:1;
  }
.cart_shoes{
    display: inline-block;
}
.login_page{
    background-color: #FFFFFF;
    padding:30px;
    height: 400px;
    width: 250px;
    border-radius: 5px;
    top: 301px; right: 50%;
    transform: translate(50%,-50%);
    position: fixed !important;
    z-index:1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}
.signup_page{
    background-color: #FFFFFF;
    padding:30px;
    height: 400px;
    width: 250px;
    border-radius: 5px;
    top: 301px; right: 50%;
    transform: translate(50%,-50%);
    position: fixed !important;
    z-index:1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}
  }

  @media (max-width: 600px) {
    .close-log{
      translate: 205px -30px;
    }
    .close-sign{
      translate: 205px -30px;
    }
    .close-cart{
      translate: 190px -15px;
    }
    .fill-shipping-data{
      top: 354px; right: 50%;
      width: 70%;
    }
    .logged_in_color{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: green;
        display: none;
        transform: translate(-38px, -46px);
        position: absolute !important;
      
      }
    .logo_image{
        width: 200px;
        height: 48px;
        margin-bottom: 5px;
    }
    .cart_items{
      padding:15px;
      height: 300px;
      width: 200px;
      border-radius: 5px;
      top: 226px; right: 50%;
      transform: translate(50%,-50%);
      position: fixed !important;
      z-index:1;
    }
    .icons {     
        padding-right:0px;
        margin-right: 0px;
        margin-left: 0px;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        top: 59px; right: 0%;
        position: fixed !important;
        z-index:1;
        background-color: #f0f0f0; 
        display: none;  
      }
      .login_page{
        background-color: #FFFFFF;
        padding:30px;
        height: 410px;
        width: 200px;
        border-radius: 5px;
        top: 294px; right: 50%;
        transform: translate(50%,-50%);
        position: fixed !important;
        z-index:1;
        border: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;
        display: none;
    }
    .signup_page{
        background-color: #FFFFFF;
        padding:30px;
        height: 410px;
        width: 200px;
        border-radius: 5px;
        top: 294px; right: 50%;
        transform: translate(50%,-50%);
        position: fixed !important;
        z-index:1;
        border: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;
        display: none;
    }
    .login_sign{
      padding:30px;
      height: 300px;
      width: 250px;
      border-radius: 5px;
      top: 240px; right: 50%;
      transform: translate(50%,-50%);
      position: fixed !important;
      z-index:1;
    }
  }
  @media (max-width: 380px) {
    .fill-shipping-data{
      top: 344px; right: 50%;
      width: 70%;
    }
    .close-welcome{
      translate: 205px -30px;
    }
    .logged_in_color{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: green;
        display: none;
        transform: translate(-38px, -38px);
        position: absolute !important;
      
      }
      .visa {
        width: 37.5px;
        height: 22.5px;
      }
      
      .amex {
        width: 37.5px;
        height: 22.5px;
      }
      
      .mastercard {
        width: 37.5px;
        height: 22.5px;
      }
      .credit-text{
        font-size: 12px;
      }
      .logged-email{
        font-size: 12px;
      }
      .shipp-information{
        font-size: 12px;
    }
    .logo_image{
        width: 160px;
        height: 38.4px;
        margin-bottom: 5px;
    }
    footer{
        font-size: 12px;
    }
    .stock_images{
        width: 220px;
        height: 220px;
    }
    .afani_image{
        width: 220px;
        height: 220px;
    }
    .bellito_image{
        width: 220px;
        height: 220px;
    }
    .seruto_image{
        width: 220px;
        height: 220px;
    }
    .tago_image{
        width: 220px;
        height: 220px;;
    }
    .zing_image{
        width: 220px;
        height: 220px;
    }
    .icons {     
        padding-right:0px;
        margin-right: 0px;
        margin-left: 0px;
        display: none;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        top: 49px; right: 0%;
        position: fixed !important;
        z-index:1;
        background-color: #f0f0f0;   
      }
    .login_sign{
        padding:30px;
        height: 300px;
        width: 200px;
        border-radius: 5px;
        top: 230px; right: 50%;
        transform: translate(50%,-50%);
        position: fixed !important;
        z-index:1;
      }
      .cart_items{
        padding:15px;
        height: 300px;
        width: 200px;
        border-radius: 5px;
        top: 216px; right: 50%;
        transform: translate(50%,-50%);
        position: fixed !important;
        z-index:1;
      }
      .login_page{
        background-color: #FFFFFF;
        padding:30px;
        height: 410px;
        width: 200px;
        border-radius: 5px;
        top: 284px; right: 50%;
        transform: translate(50%,-50%);
        position: fixed !important;
        z-index:1;
        border: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;
        display: none;
    }
    .signup_page{
        background-color: #FFFFFF;
        padding:30px;
        height: 410px;
        width: 200px;
        border-radius: 5px;
        top: 284px; right: 50%;
        transform: translate(50%,-50%);
        position: fixed !important;
        z-index:1;
        border: 1px solid rgba(0, 0, 0, 0.2);
        text-align: center;
        display: none;
    }
  }

  
